@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css');

html {
  --main-margin: 1em;
  --main-width: 60%;
  --main-font : "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

a, input, p, h1, h2, h3, h4, h5, h6, span, label, header, footer {
  text-decoration: none;
  font-family: var(--main-font);
  color: black;
}

input:focus, select:focus, 
textarea:focus, button:focus {
  outline: none;
}

/*Elimantes num pad arrows when input is number*/
/*https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* arranjar este topico */
a, p, label, header {
  font-size: 16px;
}
/* arranjar este topico */
.property{
  margin: var(--main-margin);
  width: var(--main-width);
}
/* arranjar este topico */
.rent {
  position: fixed;
  right: 5%;
  top: 8em;
  height: 60%;
  width: 30%;
}
/* arranjar este topico */
.rent form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* arranjar este topico */
.rent input {
  width: 10em;
}
/* arranjar este topico */
.rent form button{
  width: 10em;
}
/* arranjar este topico */
.rent label{
  margin-top: 1em;
}
/* arranjar este topico */
#comments{
  border-top: white solid 0.1em;
  margin: var(--main-margin);
  width: var(--main-width);
}
/* arranjar este topico */
#comments h2{
  margin-top: 0.2em;
}
/* arranjar este topico */
.comment {
  margin: var(--main-margin);
  width: var(--main-width);
  border-bottom: white solid 1px;
}
/* arranjar este topico */
.comment h3, .comment h6 {
  margin: 0em 2.5rem;
}
/* arranjar este topico */
.comment img {
  float: left;
  height: 2em;
  width: auto;
  border-radius: 50%;
}
/* arranjar este topico */
#comments :last-child{
  border-bottom: 0;
}
/* arranjar este topico */
#comment_form { 
  margin: var(--main-margin);
  width: var(--main-width);
}
/* arranjar este topico */
#comment_form textarea{
  outline: none;
  resize: none;
  border-radius: 4px;
}

.circular-button{
  display: flex;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 100, 160);
  color: #FFFFFF;
  padding: 12px 45px;
  letter-spacing: 1px;
  margin: 10px;
}

.circular-button:hover {
  background-color: rgba(117, 227, 255, 0.8);
  cursor: pointer;
}

.no-button{
  border: none;
  background-color: white;
  color:black;
  font-size: 16px;
  letter-spacing: 1px;
}

.no-button:hover{
  cursor: pointer;
  text-decoration: underline;
}

#listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
  margin: 2em;
}

.item a img {
  width: 60%;
  height: 60%;
}

