.listings-filter {
    display: grid;
    grid-template-areas: 'filter properties';
    grid-template-columns: 25% 75%;
}

#listings{
    grid-area: 'properties';
}

.filter {
    grid-area: 'filter';
    display: flex;
    flex-direction: column;
}

.filter-form {
    background-color: #3D4849;
}

.filter h2{
    text-align: center;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid rgba(39, 39, 39, 0.4);
    padding-bottom: 20px;
}

.filter-form ul {
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(39, 39, 39, 0.4);
}

.filter li{
    list-style-type: none;
    margin: 20px 0;
}

.filter span {
    margin-right: 20px;
    color: white;
}

.filter label{
    margin-left: 10%;
}

#price-slider {
    left: 50px;
    width: 70%;
    margin-top: 20px;
}

.filter button {
    margin-top: 50px;
    margin-left: 50px;
}


