.filter {
    float: left;
    display: flex;
    flex-direction: column;
}

.filter-form {
    background-color: #3D4849;
    height: 100%;
}

.filter h2{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.filter-form ul {
    list-style-type: none;
    padding-left: 0;
}

.filter li{
    list-style-type: none;
    margin: 20px 0;
}

.filter span {
    margin-left: 10%;
    color: white;
}

.filter label{
    margin-left: 10%;
}

.filter section {
    padding-bottom: 10%;
    border-bottom: 1px solid rgba(39, 39, 39, 0.4);
}

#price-slider {
    left: 10%;
    width: 70%;
    margin-top: 8%;
}

#calendar {
    background-color: #3D4849;
    color: white;
    font-size: large;
    margin-left: 10%;
    margin-top: 5%;
}

.filter button {
    margin-top: 50px;
    margin-left: 50px;
}

.filter section {
    margin: 2em 0em;
}


