.listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: 	#EDF2F6;
}

.elem {
    margin: 2px 5px;
    align-items: center;
    margin-left: 10%;
    margin-top: 10%;
}

.elem img {
    border-radius:5%;
}

.listing-content {
    position: relative;
    background-color: white;
    border-radius:5%;
    z-index: 1;
    top: -20%;
    left: 5%;
    padding-left: 5%;
    width: 13em;

    box-shadow: 0px 10px 5px 0px rgba(122, 122, 122, 1);
}

.rating {
    color: teal;
    display: flex;
    justify-content: left;
    font-size: 1.2em;
    padding-bottom: 5%;
}

.rating i {
    font-size: 1em;
}

.rating .comments {
    margin-left: 1em;
    font-size: 0.7em;
    color: rgb(161, 161, 161);
}
