@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.log_in, .sign_up {
  box-sizing: border-box;
  background-color: #242424;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  	height: 800px;
}

.log_in h1, .sign_up h2, .log_in h1, .sign_up h2 {
    color: white;
}

.log_in a, .sign_up a, .log_in p, .sign_up p {
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.log_in button, .sign_up button {
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 100, 160);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin: 10px;
}

.log_in button:active, .sign_up button:active {
	transform: scale(0.95);
}

.log_in button:hover, .sign_up button:hover {
	background-color: rgba(117, 227, 255, 0.8);
	cursor: pointer;
}

.log_in form, .sign_up form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.log_in input, .sign_up input {
	background-color: whitesmoke;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

