@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


nav {
  background-color: #242424;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 100px;
  height: 7em;
}

nav a, nav button {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

nav .logo {
    margin-right: auto;
}

nav .links {
    list-style: none;
}

nav .links  li{
    display: inline-block;
    padding: 0px 20px;
}

nav button {
    margin-left: 20px;
    padding: 9px 25px;
  }

nav form input {
    outline: none;
    resize: none;
    border: 0;
    border-radius: 7px;
}

