.properties {
    list-style: none;
    padding: 0;
    max-height: 84%;
    overflow-y: scroll;
    margin: 0;
}

.properties li {
    border-bottom: solid 1px rgb(211, 209, 209);
    padding-bottom: 5%;
    margin-left: 5%;
}

.properties li a {
    display: flex;
    flex-direction: row;
}

.properties li a img {
    margin-right: 20px;
}

#property-rating {
    margin-top: 15px;
}

.property-content h2 {
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15em;
}

.property {
    margin: var(--main-margin);
    width: var(--main-width);
}

#addProperty form {
    width: 50em;
}

#property-rating {
    display: fleX;
    flex-direction: row;
}

#addButton {
    background-color: #FF5A5F;
    border-radius: 100%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 70%;
}


/* ADD A NEW PROPERTY */

#addProperty {
    margin: 1%;
    display: flex;
}

#property-important {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

#property-main input,
#property-details input {
    width: 95%;
    border-radius: 5px;
    border: solid rgb(176, 183, 187) 1px;
    color: grey;
    text-align: center;
    margin-bottom: 2em;
}

#property-main textarea {
    width: 95%;
    border-radius: 5px;
    margin-bottom: 2em;
    border: solid rgb(176, 183, 187) 1px;
    color: grey;
}

#property-info {
    grid-area: info;
    display: flex;
    flex-direction: row-reverse;
}

#property-details input {
    margin-bottom: 5%;
}

/*  OWNER MANAGMENT AREA*/

#property-history {
    overflow-y: scroll;
    min-width: 25em;
}

.scrollable-history {
    overflow-y: scroll;
    height: 75%;
    padding-left: 0;
}

.history-item {
    border-bottom: solid 1px rgb(175, 175, 175);
    margin-bottom: 2em;
    padding-bottom: 2em;
    margin-right: 2em;
}

.rent-user {
    display: flex;
    flex-direction: row;
}

.rent-user span {
    font-size: 1.5em;
    margin-left: 0.5em;
    padding-top: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15em;
}

.history-item:last-child {
    border: none
}

.history-details {
    display: flex;
    flex-direction: column;
}

.history-details span {
    margin: 0.5em 0;
}

.history-item img {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.cancel-button {
    color: teal;
    background-color: white;
    font-weight: bold;
    margin-left: 20em;
}

.cancel-button:hover {
    text-decoration: underline;
}

#add-button {
    margin-top: 2em;
    color: teal;
    font-size: larger;
    font-weight: 900;
    background-color: wheat;
    right: 5em;
}

#change-pics {
    display: flex;
}

.pics-btns {
    background-color: #FF5A5F;
    border-radius: 100%;
    color: white;
    width: 2em;
    height: 2em;
}

#galleria {
    height: 30em;
    width: 30em;
}

#delete-property {
    background-color: white;
    margin-left: 25%;
    color: red;
    font-size: 3em;
}
