a{
    color: inherit;
}

body > header {
    padding: 2em 0em 1em 1em;
    background-color: #046DD5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

body header a{
    color: white;
    text-decoration: none;
    text-align: left;
}

body > header h1{
    margin: 0em;
    font-size: 1.5em;
}

body > header h2{
    font-size: 0.8em;
    width: 40em;
    margin: 0em;
}

#signup :first-child{
    padding-right: 1em;
    border-right: 1px solid white;
}

#signup :last-child{
    padding-left: 1em;
}


#signup {
    font-size: 0.8em;
}

body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body h1 {
    color: white;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

#related {
    padding: 1em 1em;
    background-color: #2A2F33;
}

#related a{
    color: white;
    text-decoration: none;
}

#menu ul{
    margin: 0em;
    padding: 0em;
}

#menu li{
    padding: 1em;
    text-align: center;
    border-top: 0.3em solid red;
}

#menu ul :nth-child(2){
    border-color: green;
}

#menu ul :nth-child(3){
    border-color: purple;
}

#menu ul :nth-child(4){
    border-color: orange;
}

#menu ul :nth-child(5){
    border-color: lightseagreen;
}

#menu ul :nth-child(6){
    border-color: palevioletred;
}

#menu input{
    display: none;
}

ul a{
    margin: 1em;
    padding: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

section{
    color:black;
}

article footer{
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
}

#comments{
    display: none;
}

#news header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    position: absolute;
    text-shadow: 0.5em 0.5em 0.2em  #000000;
    max-width: 17em;
}

#news img{
    margin-top: 1em;
    width: 100%;
}