body {
    width: 60em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "green green green"
    "yellow red blue"
    "orange orange blue"
  }
  
  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #baffc9;
    grid-area: green;
  }
  
  #orange {
    background-color: #ffdfba;
    grid-area: orange;
  }
  
  #yellow {
    background-color:   #ffffba;
    grid-area: yellow;
    flex-direction: row;
  }
  
  #red {
    background-color:   #ffb3ba;
    grid-area: red;
  }
  
  #blue {
    background-color:   #bae1ff;
    grid-area: blue;
  }

  #yellow ul, #red ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }